{% extends "base.html.twig" %}
{% block body %}

<h1>{{'form_inscription.title'|trans }}</h1>

{{form_start(registrationForm,{'attr': {'novalidate': 'novalidate'}})}} 

{{form_row(registrationForm.username,{'label':'form_inscription.username','attr':{'placeholder':'form_inscription.placeholder_username'}})}}
{{form_row(registrationForm.firstName,{'label':'form_inscription.firstname','attr':{'placeholder':'form_inscription.placeholder_firstname'}})}}
{{form_row(registrationForm.lastName,{'label':'form_inscription.lastname','attr':{'placeholder':'form_inscription.placeholder_lastname'}})}}
{{form_row(registrationForm.email,{'label':'form_inscription.email','attr':{'placeholder':'form_inscription.placeholder_email'}})}}
{{form_row(registrationForm.adress,{'label':'form_inscription.adress','attr':{'placeholder':'form_inscription.placeholder_adress'}})}}
{{form_row(registrationForm.city,{'label':'form_inscription.city','attr':{'placeholder':'form_inscription.placeholder_city'}})}}
{{form_row(registrationForm.country,{'label':'form_inscription.country','attr':{'placeholder':'form_inscription.placeholder_country'}})}}
{{form_row(registrationForm.password,{'label':'form_inscription.password','attr':{'placeholder':'form_inscription.placeholder_password'}})}}
{{form_row(registrationForm.confirmPassword,{'label':'form_inscription.password_confirm','attr':{'placeholder':'form_inscription.placeholder_password_confirm'}})}}

<button type="submit" class="btn btn-primary">{{ 'form_inscription.btn_registration'|trans }}</button>
{{ form_end(registrationForm) }} 


{% endblock %}
