


{{form_start(form,{'attr': {'novalidate': 'novalidate'}})}} 

{{form_row(form.title,{'label':'titre de l\'idée'})}}
{{form_row(form.content,{'label':'discription de l\'idée'})}}
{{form_row(form.imageFile,{'label':'image de l\'idée'})}}



<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}  
